@model  HeaderModel
<header class="">
    <!-- header-top-area-start -->
    <div class="header-top-area blue-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 site-branding col-xs-12">
                    <div class="header-logo">
                        <a href="index.html"><img src="~/Uploads/" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-9 hidden-xs">
                    <div class="header-left">
                        <div class="header-text">
                            <div class="header-icon">
                                <i class="fa fa-phone"></i>
                                <i class="paint-roller"></i>
                            </div>
                            <div class="header-info">
                                <span class="phone">@Model.SettingLanguage?.Phone</span>
                                <span class="gmail">@Model.SettingLanguage?.Email</span>
                            </div>
                        </div>
                        <div style="width:300px;" class="header-text">
                            <div class="header-icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="header-info">
                                <span class="gmail">@Model.SettingLanguage?.Location</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 hidden-sm col-xs-12">
                    <div class="header-left-icon">
                        <a href="@Model.SettingLanguage?.Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="@Model.SettingLanguage?.Instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-menu-area-start -->
    <div id="header-sticky" class="main-menu-area gray-bg ">
        <div class="container">
            <div class="row">
                <div class=" col-lg-10 col-md-8  col-xs-7">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="active">
                                    <a href="@Url.Action("Index","Home")">@Localizer["Home"]</a>
                                </li>
                                <li><a href="@Url.Action("Index","About")">@Localizer["About us"]</a></li>
                                <li>
                                    <a href="@Url.Action("Index","Service")">@Localizer["Services"]</a>
                                    <ul class="sub-menu">
                                        @foreach (ServiceLanguage service in Model.ServiceLanguages)
                                        {
                                            <li><a href="@Url.Action("SpecificService","Service",new { serviceId = service.ServiceId})">@service.Name</a></li>
                                        }
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index","Gallery")">@Localizer["Gallery"]</a></li>
                                <li><a href="@Url.Action("Index","Contact")">@Localizer["Contact"]</a></li>
                                <li>
                                    <vc:language></vc:language>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class=" col-lg-2 col-md-4 col-xs-12">
                    <div class="make-appointment">
                        <img src="~/assets/img/logo/2.png" alt="" />
                        <a href="@(ViewBag.Home=="true"?"#":"/home/index#scroll")">@Localizer["Make Appointment"]</a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="mobile-menu mean-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-menu-area-end -->
</header>