@model List<TestimonialLanguage>
<div id="main-wrapper">
    <h2>Testimonial</h2>
    <a class="btn my-2 btn-danger" href="@Url.Action("Add","Testimonial")">Add</a>
    <table class="table table-light table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Isim</th>
                <th>Metin</th>
                <th>Ayarlar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TestimonialLanguage testimonialLanguage in Model)
            {
                <tr>
                    <td>
                        @testimonialLanguage.Testimonial.Name
                    </td>
                    <td>
                        <p>
                            @testimonialLanguage.Text
                        </p>
                    </td>
                    <td>
                        <a class="mr-2 btn btn-warning" href="@Url.Action("Edit","Testimonial",new {testimonialId = testimonialLanguage.TestimonialId })">Düzenle</a>
                        <a class="delete-button btn btn-danger" data-url="/Admin/Testimonial/Delete/" data-id="@testimonialLanguage.TestimonialId" data-photo="false" data-refresh="/Admin/Testimonial/Index" href="@Url.Action("Delete","Testimonial",new {testimonialId = testimonialLanguage.TestimonialId })">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>