@model TravelApp.Models.Setting

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Parametrlər</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Yadda saxla</a> |
    <a asp-action="Index" class="btn-primary btn">Back to List</a>
</div>
