@model AboutEditViewModel
<div id="form-wrapper">
    <p>Məlumat düzəliş edərkən dil seçin.Seçdiyiniz dilə uyğun olaraq məlumat bazaya əlavə olunacaqdır.</p>
    <select id="choose-language" class="my-3 form-control">
        @{
            var counter = 0;
        }
        @foreach (Language language in Model.Languages)
        {
            if (counter == 0)
            {
                <option selected value=".@language.Name">@language.Name</option>
            }
            else
            {
                <option value=".@language.Name">@language.Name</option>
            }
            counter++;
        }
    </select>
    <form action="@Url.Action("Edit","About")" method="post" enctype="multipart/form-data">
        <select hidden multiple name="Photos" id="photos">
        </select>
        <input type="text" hidden name="AboutId" value="@Model.AboutLanguages.FirstOrDefault()?.AboutId" />
        @{
            counter = 0;
        }
        @foreach (Language language in Model.Languages)
        {
            if (counter == 0)
            {
                <div class="@language.Name active form-element">
                    <div class="form-group">
                        <label>Təsvir</label>
                        <textarea id="editor_@(counter)" rows="10" cols="10" name="Texts" class="form-control" value="@Model.AboutLanguages.Where(a=>a.LanguageId == language.Id).FirstOrDefault()?.Text">
@Model.AboutLanguages.Where(a=>a.LanguageId == language.Id).FirstOrDefault()?.Text
</textarea>
                    </div>
                </div>
            }
            else
            {
                <div class="@language.Name form-element">
                    <div class="form-group">
                        <label>Təsvir</label>
                        <textarea id="editor_@(counter)" rows="10" cols="10" name="Texts" class="form-control" value="@Model.AboutLanguages.Where(a=>a.LanguageId == language.Id).FirstOrDefault()?.Text">
@Model.AboutLanguages.Where(a=>a.LanguageId == language.Id).FirstOrDefault()?.Text

</textarea>
                    </div>
                </div>
            }
            counter++;
        }
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-danger">Yadda saxla</button>
        </div>
    </form>
</div>




@section Scripts{

    <script src="~/Admin/ckeditor/ckeditor.js"></script>
    <script>


        $(document).ready(function () {

            var editors = [];
            var editorCounter = 0;
            for (var i = 0; i < @counter; i++) {
                var editor = CKEDITOR.replace('editor_' + editorCounter, {
                    language:'az',
                    extraPlugins: 'image2',
                    removePlugins: 'image',
                    removeDialogTabs: 'link:advanced',
                    height: 350,
                    //filebrowserUploadUrl: '/admin/photo/UploadCkEditorPhoto/?folder=About',
                    //filebrowserImageUploadUrl: '/admin/photo/UploadCkEditorPhoto/?folder=About',
                    cloudServices_uploadUrl: 'https://33333.cke-cs.com/easyimage/upload/',
                    // Note: this is a token endpoint to be used for CKEditor 4 samples only. Images uploaded using this token may be deleted automatically at any moment.
                    // To create your own token URL please visit https://ckeditor.com/ckeditor-cloud-services/.
                    cloudServices_tokenUrl: 'https://33333.cke-cs.com/token/dev/ijrDsqFix838Gh3wGO3F77FSW94BwcLXprJ4APSp3XQ26xsUHTi0jcb1hoBt',
                    easyimage_styles: {
                        gradient1: {
                            group: 'easyimage-gradients',
                            attributes: {
                                'class': 'easyimage-gradient-1'
                            },
                            label: 'Blue Gradient',
                            icon: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/gradient1.png',
                            iconHiDpi: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/hidpi/gradient1.png'
                        },
                        gradient2: {
                            group: 'easyimage-gradients',
                            attributes: {
                                'class': 'easyimage-gradient-2'
                            },
                            label: 'Pink Gradient',
                            icon: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/gradient2.png',
                            iconHiDpi: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/hidpi/gradient2.png'
                        },
                        noGradient: {
                            group: 'easyimage-gradients',
                            attributes: {
                                'class': 'easyimage-no-gradient'
                            },
                            label: 'No Gradient',
                            icon: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/nogradient.png',
                            iconHiDpi: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/hidpi/nogradient.png'
                        }
                    },
                    easyimage_toolbar: [
                        'EasyImageFull',
                        'EasyImageSide',
                        'EasyImageGradient1',
                        'EasyImageGradient2',
                        'EasyImageNoGradient',
                        'EasyImageAlt'
                    ]
                });

                editors.push(editor);
                editor.insertHtml($("#editor_" + editorCounter).html())
                editorCounter++;
            }


            $("form").submit(function () {
                var editorId = $(`${$(".choose-language").val()} textarea`).attr("id");
                for (var e of editors) {
                    if (e.name == editorId) {
                        $("#" + editorId).val(e.getData());
                    }
                }


                $(this).submit();
            })


            console.log(editors);
        })

    </script>
}